@import 'base';

.card {
    @extend .display-container;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;

    .romance {
        @include colorDinamic(romance)
    }

    .literatura {
        @include colorDinamic(literatura)
    }

    .book {
        @extend .second;
        @extend .display-container;
        margin-right: 12px;
        width: 15%;
        height: 600px;
        img {
            margin: 12px;
            max-width: 200px;
        }
        p {
            text-align: justify;
            margin: 12px;
            
        }
    }
    
}
